<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.15.3.1649" newVersion="7.15.3.1649" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Messaging.Common.Standard" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.15.3.1649" newVersion="7.15.3.1649" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.IO" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.15.2.501" newVersion="7.15.2.501" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core.DI" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.15.2.501" newVersion="7.15.2.501" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DailyInfoSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx"
        binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap"
        contract="CbrDailyInfo.DailyInfoSoap" name="DailyInfoSoap" />
    </client>
  </system.serviceModel>
</configuration>